@import url('reset.css');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans');

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Open Sans', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #2c3e50;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(217deg, #3cbd82, rgba(100, 0, 0, 0) 70.71%),
  linear-gradient(127deg, rgba(210, 116, 191, 0.29), rgba(0, 205, 19, 0) 70.71%),
  linear-gradient(336deg, rgba(0, 54, 191, 0.8), rgba(0, 0, 205, 0) 70.71%);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Sans', sans-serif;
}

h1 {
  color: white;
  font-size: 45px;
  text-align: center;
}

h2 {
  color: white;
  font-size: 45px;
  text-align: center;
}

a {
  margin-right: 32px;
  color: #d5e2dc;
  text-decoration: none;
  opacity: 1;
}

a:hover {
  color: #4fc08d;
}
